|===
|Path|Type|Description|Optional|Constraint

{{#fields}}
        |{{path}}
        |{{type}}
        |{{description}}
        |{{#optional}}O{{/optional}}
        |{{#constraint}} {{.}} {{/constraint}}
{{/fields}}

|===

